#logo<
  %span.a> screen
  %span.b> .
  %span.c> farm

#loading Loading...

#nametag
  %input#sco-input

#info-pane
  %div
    Farm ID:
    %span#fid.fid.value


%p
  To connect another device or browser,
  scan the following code, or copy the URL:

#qrcode-pane.pane
  #qrcode
  #url



#example
  %p
    To push a URL to this browser:
  %p
    %code<
      curl -X POST
      "
      %span.root-url> https://screen.farm
      = "/c/f:"
      %span.fid>
      = ":"
      %span.sco>
      = "\" --data url=http%3A%2F%2F9gag.com"

  %p
    To push an image to this browser:
  %p
    %code<
      curl -X POST
      "
      %span.root-url> https://screen.farm
      = "/c/f:"
      %span.fid>
      = ":"
      %span.sco>
      = "\" --data file=@screenshot.png"
