#logo<
  %span.a> screen
  %span.b> .
  %span.c> farm

#loading Loading...

#intro
  %p
    <span class="product-name">screen.farm</span> is tool to push content to any connected browser window.
  %p
    You can use your tablet, phone or old laptop as a non-interactive external display
    with minimal setup.

  %ol
    %li Add your device to your "farm" by scanning the QR code or entering the URL on that device
    %li Your device will get a random name displayed in large letters, you can edit this
    %li A small tag will appear at the bottom for each connected screen, this is a bookmarklet, drag this to your bookmark bar
    %li Go to some webpage and press the bookmark – the webpage will now be opened on the respective device
    %li You can also use the REST API to a send a URL or image to a device.

#nametag
  %input#sco-input

#info-pane
  %div
    Farm ID:
    %span#fid.fid.value


%h2 Add screen
%p
  To connect another device or browser,
  scan the following code, or copy the URL:

#qrcode-pane.pane
  #qrcode
  #url

%h2 Bookmarklets
%p
  To create a bookmarklet button for sending any webpage to a screen,
  drag the following links to your bookmark bar:
#screens


%h2 REST API
#example
  %p
    To push a URL to this browser:
  %p
    %code<
      curl -X POST
      "
      %span.root-url> https://screen.farm
      = "/c/f:"
      %span.fid>
      = ":"
      %span.sco>
      = "\" --data url=http%3A%2F%2F9gag.com"

  %p
    To push an image to this browser:
  %p
    %code<
      curl -X POST
      "
      %span.root-url> https://screen.farm
      = "/c/f:"
      %span.fid>
      = ":"
      %span.sco>
      = "\" -F file=@screenshot.png"



